
.pumpkin {
  fill: yellow;
  stroke: orange;
  stroke-width: 5;
}

p {
	font-family: 'Open Sans Condensed', tahoma, sans-serif;
	font-size: 14px;
	color: #00FFFF;
}

b {
  font-family: tahoma;
  font-size: 20px;
  color: #000000;
}

ul {
  font-family: 'Open Sans Condensed', tahoma, sans-serif;
	font-size: 14px;
	color: #000000;
}
