
body {
    background-color: #fff;
    font-size: 0.875rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'robotolight';
    font-weight: 300;
    width:100%;
}

a:link {
	font-family: 'Open Sans Condensed', tahoma, sans-serif;
	color: #E35F4B;
	text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
	font-size: 30px;
	text-decoration: none;
}

a:visited {
	color: #E35F4B;
	text-transform: uppercase;
	text-decoration: none;
}

a:active {
	color: #E35F4B;
	text-transform: uppercase;
}
a:hover {
	color: #b73c29;
	text-transform: uppercase;
}

a.noformat  {
    font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
    color: #E35F4B;
    padding-left: 1px;
    padding-right: 1px;
    text-transform: none;
    line-height: 1.375rem;
    font-size: 18px;
    padding-bottom: 2px;
}

a.noformat:hover {
  color: #b73c29;
}


h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
    font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3.8rem;
    line-height: 5.5rem;
    color: #008080;
    text-align: center;
}
h2 {
    font-size:1.875rem;
    line-height: 3rem;
    text-transform: uppercase;

}
h3 {
    font-size:1.375rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}
h4 {
    font-size: 0.875rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
h3.reprod:hover {
  color:#223d61;
}
p {
    font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
    line-height: 1.375rem;
		font-size: 18px;
    padding-bottom: 2px;
}

p.maintext {
    font-family: Georgia;
		font-size: 16px;
}

p.statistic {
  font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
  font-size: 16px;
  color: #008080;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}
p.statistic:hover {
  font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
  font-size: 16px;
  color: #008080;
  background: #d1e7e5;
}

p.statistic:active {
  font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
  font-size: 16px;
  color: #008080;
  background: #d1e7e5;
}

a.maintext {
  font-weight: bold;
  font-family: Georgia;
  font-size: 16px;
  text-transform: none;
}
li {
    font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
}
ul {
    font-family: 'Open Sans Condensed', helvetica, tahoma, sans-serif;
    font-size: 18px;
}
h3.reprod {
    font-family: Georgia, tahoma, sans-serif;
    color: #008080;
    font-size: 72px;
    font-style: italic;
    padding-bottom: 10px;
}

h4.reprod {
  font-family: Georgia, tahoma, sans-serif;
  color: #000000;
  font-size: 50px;
  text-transform: none;
  font-weight: bold;
  line-height: 1.0;
  padding-top: 10px;
  padding-bottom: 10px;

}
i.teal {
  color: #008080;
}

.sections {
    padding-top:20px;
    padding-bottom: 105px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
    border-style: solid;
    border-width: 5px 10px 20px 10px;
    border-color: #D3D3D3;
}
.reproduction {
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    border-style: solid;
    border-width: 5px 10px 2px 10px;
    border-color: #D3D3D3;
    box-shadow: 10px 10px;

}


.separator {
    height: 1px;
    width: 127px;
    margin: 20px auto;
    background: #00e0d0;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
hr.bold {
  display: block;
  height: 3px;
  border: 0;
  border-top: 5px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


#vizone {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

#viztwo {
  text-align: center;
  padding: 10px 10px 10px 10px;
}


svg {
  margin: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.lineMen {
  fill: none;
  stroke: blue;
  stroke-width: 0.5;
}
.lineWomen {
  fill: none;
  stroke: red;
  stroke-width: 0.5;
}

table {
      border-collapse: collapse;
      border: 2px black solid;
      font: 15px sans-serif;
  }
td {
      border: 1px black solid;
      padding: 10px;
  }


  /* navbar section */
  .menu-scroll {
      padding-top: 0px;
      padding-bottom: 0px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 300;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      background-color:rgba(34, 61, 97, 0.64);
      -webkit-transition:all .3s;
      -moz-transition:all .3s;
      transition:all .3s;
      height: 75px;

  }


  .main_menu_bg{
      margin-top: 0px;
      background-color: transparent;
  }
  .main_menu_bg .navbar-default {
      background-color: transparent;
      border-color: transparent;
      transition: all .6s;
      margin: 15px auto;
  }
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
      color:#00e0d0;
  }
  .main_menu_bg .navbar {}

  .main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
      color: #00e0d0;
      padding-bottom: 22px;
      border-bottom: 1px solid #00e0d0;
      background: transparent;

  }

  .main_menu_bg .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 20px;
      text-transform: uppercase;
      font-size: 0.875rem;
      color: #fff;
      font-family: 'robotoblack';
  }
  .navbar-brand {
      padding: 0px 15px;
  }
  .navbar-brand>img {
      max-width: 80%;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
      background-color:transparent;
      color:#f5c239;

  }
